<template>
  <section class="NetKey">
    <h2>Passo 5</h2>
    <form v-on:submit.prevent="nextStep">
      <legend>
        <strong class="upper">Opcional:</strong> por padrão a rede da <strong class="fuxico">Fuxico</strong> não tem senha. Este é o recomendado. Porém, se você quiser pode definir uma senha abaixo:
      </legend>
      <Password :data="wizardData.netKey" :eventName="eventName"></Password>
      <label> 
        <input v-on:click="skipPassword" type="checkbox" name="opcional" id="opcional"> 
        <span>Não quero definir uma senha. </span>
      </label>
      <aside v-bind:class="{ slideDown: showSlide }"> 
        Para que uma rede protegida com senha seja realmente segura use uma senha forte e troque ela constantemente.
      </aside>
      <button :disabled="!isFormValid" ref="nextButton">
        Próximo
      </button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PasswordComponent from '@/components/Password.vue';
import { PasswordEvent } from '../models/password-event';
import { WizardState } from '../models/wizard-state';
import EventBus from '../eventBus';

@Component({
  components: {
    Password: PasswordComponent,
  },
})
export default class NetKey extends Vue {
  private showSlide: boolean = false;
  private isFormValid: boolean = false;
  private eventName: string = 'netKey';
  private wizardData = this.$root.$data as WizardState;

  private mounted() {
    EventBus.$on(this.eventName, (payload: PasswordEvent) => {
      this.isFormValid = payload.valid;
      this.wizardData.netKey = payload.password;
      this.showSlide = true; 
    });
  }

  private updated() {
    const btn = this.$refs.nextButton as HTMLButtonElement;
    btn.focus();
  }

  private nextStep() {
    this.$router.push('review');
  }

  private skipPassword() {
   this.isFormValid = !this.isFormValid;
  }
}
</script>
